# Dépendances
node_modules/

# Build
dist/
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnement / éditeurs
.env
.env.*
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
